venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

.git/
.gitignore

.ipynb_checkpoints/
*.ipynb

tests/
test/
*_test.py
test_*.py

logs/
*.log

.env
.env.*

.vscode/
.idea/

Dockerfile*
docker-compose*.yml

README.md